@import url(https://fonts.bunny.net/css?family=inter:300);

body {
    background-color: #eff1ed;
    color: #373d20;
    font-family: "Inter", "sans-serif";
}

#header {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#project-name {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    white-space: nowrap;
}

#main-container {
    height: 80vh;
    width: 90vw;
    margin: 0 auto;

    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 8fr;
}

#calendar-label {
    margin-bottom: 40px;
}

#preferences {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

button, 
button:hover,
button:active {
    background-color: #eff1ed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    appearance: none;
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
}

#regenerate {
    background-image: url("../assets/regenerate.svg");
    height: 30px;
    width: 30px;
}

#shopping-cart {
    background-image: url("../assets/shopping_cart.svg");
    height: 30px;
    width: 30px;
}

#light-dark-mode {
    background-image: url("../assets/light-mode.svg");
    height: 20px;
    width: 20px;
}

#favorites {
    background-image: url("../assets/heart.svg");
    height: 20px;
    width: 20px;
}

#content-area {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

#overview {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    gap: 10px;
    height: 60vh;
}

#spread {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;

}

.day {
    display: grid;
    grid-template-rows: 1fr 4fr 4fr 4fr;
    gap: 10px;
    padding: 0 20px;
}

.date-header {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.meal {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr auto 1fr 1fr 1fr;
    gap: 3px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.single-regenerate {
    background-image: url("../assets/regenerate.svg");
    width: 15px;
    height: 15px;
}

.favorite {
    background-image: url('../assets/heart.svg');
    width: 15px;
    height: 15px;
}

.ready-time-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.clock-icon {
    width: 15px;
    height: 15px;
}


#recipe-view-container, #faves-view-container {
    width: 50vw;
    margin: 0 auto;

    display: grid;
    gap: 20px;
}

#faves-view-nav-bar {
    display: flex;
    justify-content: flex-start;
}

#faves-view-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.faves-view-meal {
    width: 70%;
}

#toolbar {
    display: flex;
    justify-content: space-between;
}

#toolbar-right {
    display: flex;
    gap: 10px;
}

#save-btn {
    background-image: url('../assets/heart.svg');
    background-repeat: no-repeat;
    background-position: center;
}

#photo {
    width: 100px;
    height: 100px;
}

#back-btn {
    font-size: 0.8rem;
}