@import url(https://fonts.bunny.net/css?family=inter:300);

body {
    background-color: #eff1ed;
    color: #373d20;
    font-family: "Inter", "sans-serif";
}

#header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-bottom: 10px;
}

#main-container {
    height: 80vh;
    width: 90vw;
    margin: 0 auto;

    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 8fr;
}

#preferences {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

button {
    background-color: #eff1ed;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
}

#regenerate {
    background-image: url("../assets/regenerate.svg");
}

#shopping-cart {
    background-image: url("../assets/shopping_cart.svg");
}

#light-dark-mode {
    background-image: url("../assets/light-mode.svg");
}

#location {
     background-image: url("../assets/globe.svg");
}

#favorites {
     background-image: url("../assets/heart.svg");
}

#content-area {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}

#overview {
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    gap: 10px;
}

#spread {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.day {
    display: grid;
    grid-template-rows: 1fr 1fr 4fr 4fr 4fr;
    gap: 10px;
}

.weather-icon {
    background-image: url('../assets/rainy.svg');
    background-size: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
}

.meal {
    display: grid;
    grid-template-rows: auto 1fr;
}