#main-container {
    height: 90vh;
    width: 90vw;

    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
}

#content-area {
    display: grid;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    gap: 10px;
}

#search-container {
    background-color: red;
}

#search-form {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 100%;
}

#search-bar {
    flex: 1;
}

#search-btn {
    background-image: url("../assets/magnify.svg");
    width: 20px;
    height: 20px;
    background-color: white;
}

#calendar-label {
    background-color: red;
}

#calendar {
    background-color: red;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr repeat(7, 3fr);
    grid-template-rows: repeat(26, 1fr);
    column-gap: 10px;
}

.mark {
    justify-self: end;
    align-items: end;
}

#time-marks, .day {
    display: contents;
}

.chunk {
    outline: .2px dashed black;
}

.day {
    background-color: blue;
}

#others {
    background-color: red;
}