#main-container {
    height: 90vh;
    width: 90vw;

    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
}

#content-area {
    display: grid;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    gap: 10px;
}

#search-container {
    background-color: red;
}

#search-form {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 100%;
}

#search-bar {
    flex: 1;
}

#search-btn {
    background-image: url("../assets/magnify.svg");
    width: 20px;
    height: 20px;
    background-color: white;
}

#calendar-label {
    background-color: red;
}

#calendar {
    background-color: red;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr repeat(7, 3fr);
    grid-template-rows: repeat(26, 1fr);
    column-gap: 10px;
}

.mark {
    justify-self: end;
    align-items: end;
}

#time-marks, .day {
    display: contents;
}

.chunk {
    outline: .2px dashed black;
    
    position: relative;
    overflow: visible; /* Allows overflow in any direction */
}

.meal-box {
    position: absolute;
    top: 0;
    left: 0;

    width: 95%; /* Restricts horizontal overflow */
    height: auto;

    background: #000;
    color: white;
    
    padding: 4px;
    border-radius: 4px; 
    box-sizing: border-box; /* Width includes padding, border and content */
    z-index: 2;
}

.day {
    background-color: blue;
}

#others {
    background-color: red;
}
