body {
    background-color: #E6D8C3;
    color: black;
}

#main-container {
    height: 90vh;
    width: 90vw;

    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 4fr;
}

#content-area {
    display: grid;
    grid-template-rows: 1fr 1fr 6fr 1fr;
    gap: 10px;
}

#search-container {
}

#search-form {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 100%;
}

#search-bar {
    /* Remove default Safari styling */
    -webkit-appearance: none;
    appearance: none;

    flex: 1;

    box-sizing: border-box;
    padding: .2rem .7rem;
    border-radius: 10px;

    background-color: #F5F5F0;
}

#search-btn {
    background-image: url("../assets/magnify.svg");
    width: 27px;
    height: 27px;
    background-color: #F5F5F0;
    border-radius: 25px;
}

#calendar-label {
}

#calendar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr repeat(7, 3fr);
    grid-template-rows: repeat(26, 1fr);
    column-gap: 10px;
}

.mark {
    justify-self: end;
    align-items: end;
}

#time-marks, .day {
    display: contents;
}

.chunk {
    outline: .2px dashed black;
    border-radius: 4px;
    
    position: relative;
    overflow: visible; /* Allows overflow in any direction */
}

.meal-box {
    position: absolute;
    top: 0;
    left: 0;

    width: 95%; /* Restricts horizontal overflow */
    height: auto;

    background: #5D866C;
    color: white; /* Maybe black */
    
    padding: 5px;
    border-radius: 4px; 
    box-sizing: border-box; /* Width includes padding, border and content */
    z-index: 2;
}

.day {
    background-color: blue;
}

#others {
}
